        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar nav-pills nav-stacked">
            <li class="">
            <a href="{% url 'home' %}"><b>Torrent Index</b></a>
              </li>
            {% for i in fansubs %}
              <li>
              <a href="{% url 'home' %}?fansub={{i.slug}}">{{i.name}}  <span class="badge">{{i.entry_set.count}}</span></a>
              </li>
            {% endfor %}
          </ul>
          <p> 
          Desarrollado por <a href="https://twitter.com/waifuapp">Waifu app</a>
          </p>
       </div>

