{% load flatpages %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{MEDIA_URL}}/favicon.ico">

    <title>{% block title %}Showtimes{% endblock %}</title>

    <link href="{{MEDIA_URL}}/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{MEDIA_URL}}/bootstrap.min.css" rel="stylesheet">

    <link href="{{MEDIA_URL}}dashboard.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{{MEDIA_URL}}/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{MEDIA_URL}}/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% block header%}{% endblock%}
  </head>

  <body>
    <div class="container-fluid">
      {% block container %}

        <div class="row">
          {% block sidebar %}      
              {% include "_sidebar.html"%}
          {% endblock %}

          {% block content %}

          {% endblock %}
    
        </div>
      {% endblock %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{MEDIA_URL}}/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{MEDIA_URL}}/assets/js/ie10-viewport-bug-workaround.js"></script>

    {%block js %}
    {% endblock %}
  </body>
</html>
