{% extends 'base.html' %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h2>Buscar</h2>

    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>

        {% if query %}
            <h3>Resultados</h3>

           <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Fansub</th>
                  <th>Nombre</th>
                  <th>Cap</th>
                  <th>Cal</th>
                  <th>CRC</th>
                  <th>Descarga</th>
                  <th>Publicado</th>
                </tr>
              </thead>
              <tbody>
                {%for i in page.object_list %}
                <tr data-toggle="tooltip" data-placement="top" title="{{i.title}}">
                  <td>{{i.object.id}}</td>
                  {% if i.object.data %}
                  <td>{{i.object.fansub.name}}</td>
                  <td>{{i.object.data.name}}</td>
                  <td>{{i.object.data.chapter|default:""}}</td>
                  <td>{{i.object.data.quality|default:""}}</td>
                  <td>{{i.object.data.crc|default:""}}</td>
                  {% else %}
                    <td>{{i.object.fansub.name}}</td>
                    <td colspan="4">{{i.object.title}}</td>
                  {% endif %}
                  <td> <a href="{{i.object.link}}">Torrent</a></td>
                  <td> hace {{i.object.published_at|timesince}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            
            {% comment %}
            {% for result in page.object_list %}
                <p>
                    <a href="{{ result.object.link }}">{{ result.object.title }}</a>
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
            {% endcomment %}
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
        <h1>No encontrado</h1>
        {% endif %}
    </form>
</div>
{% endblock %}
