{% extends "base.html" %}
 {% load pagination_tags %}

 {% block js %}

 {% endblock %}

{% block content %}
{% autopaginate object_list %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% if fansub %}
          <p>

          <div class="row center-block">
      <img src="{{fansub.logo|default:"http://s1.zerochan.net/Hoshizora.e.Kakaru.Hashi.600.146050.jpg"}}" /></br>

      </div>
      <h2>
        <a href="{{fansub.website}}">{{fansub.website}}</a> <small>
        
          {{fansub.irc|default:""}}
        </small>
        </h2>
        </br>
        <a href="http://www.nyaa.se/?page=separate&user={{fansub.nyaa_id}}">Perfil en nyaa</a>
          </p>
          {% endif %}

          <div class="table-responsive">
           {% paginate %}
              {% include "subbers/table/_table.html"%} 
           {% paginate %}
          </div>
        </div>
{% endblock %}
