{% extends "airing/status.html"%}
{% block header %}
<script src="{{MEDIA_URL}}stack/stacktable.js"></script>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}stack/stacktable.css"></link-->
{% endblock %}

{% block  content %}
{% block  header_content%}{% endblock %}
<style>body {padding:0px;
font-size:10px;}

 </style>

<script>
$(document).ready(function(){
  $('table').stacktable();
});
</script>

 <div style="float:right;">
   <a href="{% url 'status' %}?fansub={{fansub.slug}}" target="_blank">Ver todo</a>
 </div>
{{block.super}}
{% endblock %}
