{% extends "base.html" %}
 {% block sidebar %}
 {% endblock %}
 {% block js %}

<script>
$(document).ready(function(){
  var menus =   $("ul#menu a");
  menus.on("click", function(e){
    e.preventDefault();
    $("ul#menu li").removeClass("active");
    $(this).parent().addClass("active");

    var id = $(this).attr("id");
    if( id =="todos") {
          $(".completed").show();
          $(".uncompleted ").show();
    } else if( id=="terminados"){
          $(".completed").show();
          $(".uncompleted").hide();     
    } else {
          $(".completed").hide();
          $(".uncompleted").show();
    }
  
});
  if( window.location.hash == ""){
      $("#enproceso").trigger("click");
  } else {
    $(window.location.hash).trigger("click");
  }
});
</script>
 {% endblock %}

{% block content %}
 {%regroup object_list|dictsort:"fansub.name" by fansub.name as season_list%}
  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
    {%block header_content %}
<div class="page-header">
  <h1> Showtimes </h1>
</div>
{% endblock %}

            <ul class="nav nav-tabs" role="tablist" id="menu">
                <li class="active"><a href="#todos" id="todos">Todos</a></li>
                 <li><a href="#terminados" id="terminados">Terminados</a></li>
                <li><a href="#enproceso" id="enproceso">En Proceso</a></li>
            </ul>


      {%for season in season_list %}
      <div class="panel panel-primary ">
          <div class="panel-heading">
             <h2 class="panel-title center-block">
                <a target="_blank" href="{% url 'status'%}?fansub={{season.grouper|slugify}}"> {{season.grouper}} </a>
              </h2>
          </div>

              <table class="table table-condensed table-bordered">
                
                    <thead>
                        <tr class="active">
                            <th style="width:315px;">Anime</th>
                            <th>Episodios </th>
                                <!--th>Compresión</th-->
                                <th>Traductor</th>
                                <th>Sincronizador</th>
                                <th>Corrector</th>
                                <!--th> Karaoke </th-->
                                <th>Editor</th>
                                <th>QC1</th>
                                <th style="width:95px">QC2</th>

                                    <th colspan="2">Actualizada hace</th>
                        </tr>
                    </thead>
              <tbody>
              {%for season in season.list %}
                <tr  title="{{season.fansub.slug}} {{season.anime.slug}}" {%spaceless%}
                 {%if not season.is_completed%}
                            class="uncompleted"
                  {% else %}
                            class="success completed"
                  {%endif %}
                {%endspaceless%}>
                <td>                              {% if season.url %}
                      <a target="_blank" href="{{season.url}}"> {{season.anime.name}}</a>
                      {% else %}
                        {{season.anime.name}}
                        {%endif %}
                    </td>
                    <td>
                    {%if season.is_completed %}
                            <span class="label label-success">TERMINADA</span>
                    {% else %}
                                  {{season.chapters_completed|stringformat:"02d"}}/{{season.chapters_total|stringformat:"02d"}}
                    {% endif %}
                    </td>
                                <!--td data-en="encoder" {%spaceless%}
                                      {%if not season.encoder_finished%}
                                       class="danger"
                                      {% else %} 
                                    class="success" 
                                  {%endif%}
                                  {%endspaceless%}>
                                    {{season.encoder_nick|default:""}}
                                </td-->

                                <td data-en="translator" {%spaceless%}
                                      {%if not season.translator_finished%}
                                       class="danger"
                                      {% else %} 
                                    class="success" 
                                  {%endif%}
                                  {%endspaceless%}>
                                  {{season.translator_nick|default:""|default:"nick1"}}
                                </td>

                                <td data-en="timer" {%spaceless%}
                                      {%if not season.timer_finished%}
                                     class="danger"
                                      {% else %} 
                                    class="success" 
                                  {%endif%}
                                  {%endspaceless%}>
                                    {{season.timer_nick|default:""}}
                                </td>

                             

                                <td data-en="editor" {%spaceless%}
                                      {%if not season.editor_finished%}
                                       class="danger"
                                      {% else %} 
                                    class="success" 
                                  {%endif%}
                                  {%endspaceless%}>

                                    {{season.editor_nick|default:""}}
                                </td>
                                <!-- td data-en="karaoke" {%spaceless%}
                                      {%if not season.karaoke_finished%}
                                       class="danger"
                                      {% else %} 
                                    class="success" 
                                  {%endif%}
                                  {%endspaceless%}>

                                    {{season.karaoke_nick|default:""}}
                                </td-->

                                <td data-en="typesetter" {%spaceless%}
                                      {%if not season.typesetter_finished%}
                                       class="danger"
                                      {% else %} 
                                    class="success" 
                                  {%endif%}
                                  {%endspaceless%}>

                                    {{season.typesetter_nick|default:""}}
                                </td>


                                <td {%spaceless%}
                                      {%if not season.quality_check1_finished%}
                                       class="danger"
                                      {% else %} 
                                    class="success" 
                                  {%endif%}
                                  {%endspaceless%}>

                                    {{season.quality_check1_nick|default:""}}
                                </td>

                                <td {%spaceless%}
                                      {%if not season.quality_check2_finished%}
                                       class="danger"
                                      {% else %} 
                                    class="success" 
                                  {%endif%}
                                  {%endspaceless%}>

                                    {{season.quality_check2_nick|default:""}}
                                </td>

                    <td style="width:23px;"> 

                      <a href="{% url 'detail' season.pk %}" class="center-block" title="Datos Extra"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                    </td>


                  <td>
                           {{season.modified_at|timesince}}
                    </td>
                    </tr>
            {% endfor %}
                      <!-- tr>
                                <td colspan="12" class="active     "> 
 
            {%for season in season.list %}
                 {%if not season.is_completed%}
                              <small> {{season.fansub.slug|lower}} {{season.anime.slug|lower}} </small> |
                 {% endif %} 
              {% endfor %}
                              </td>
              </tr-->

              </tbody>
              </table>
        </div>
      {% endfor %}
  </div>

{% endblock %}
