{% extends "base.html" %}
{% block sidebar %} {% endblock %}
{% block content  %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
<blockquote>
  <h2>
    <a href="{{object.url}}" target="_blank">
    {{object.anime}}
  </a>
    </h2> <small>
    {{object.fansub}}</small>

</blockquote>
  <a class="pull-right small"  href="http://hoshizora.moe/?page_id=89" target="_blank">Descripción de los puestos</A>


<p>
  Compresión: {{object.encoder_nick}}  <span class="glyphicon glyphicon-{{object.encoder_finished|yesno:"ok,remove"}}"></span>
</p>


<p>
  Karaoke (Efectos): {{object.karaoke_nick}}  <span class="glyphicon glyphicon-{{object.karaoke_finished|yesno:"ok,remove"}}"></span>
</p>

{% if object.karaokesync_nick %}
<p>
   Karaoke (Sincronización): {{object.karaokesync_nick}}  <span class="glyphicon glyphicon-{{object.karaokesync_finished|yesno:"ok,remove"}}"></span>
</p>
{% endif %}

{%if object.revision_nick %}
<p>
 Revisión [Batch]:{{object.revision_nick}}  <span class="glyphicon glyphicon-{{object.revision_finished|yesno:"ok,remove"}}"></span>

</p>
{%endif%}
{% if object.greets %}
<p>
Agradecimientos: {{object.greets|default:"..."}}
</p>
{% endif %}
</div>

<a href="/" class="btn btn-default "> Regresar </a>

{% endblock %}

