           <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <th colspan="2">Fansub</th>
                  <th>nombre</th>
                  <th>cap</th>
                  <th>cal</th>
                  <th>crc</th>
                  <th>Link</th>
                  <th>Publicada hace</th>
                </tr>
              </thead>
              <tbody>
                {%for i in object_list %}
                <tr data-toggle="tooltip" data-placement="top" title="{{i.title}}">
                  <td>{{i.fansub.name}}</td>
                  <td><small class="moresmall"> <a href="{{i.info}}">info</a></small></td>
                  {% if i.data %}
                  <td>{{i.data.name}}</td>
                  <td>{{i.data.chapter|default:""}}</td>
                  <td>{{i.data.quality|default:""}}</td>
                  <td>{{i.data.crc|default:""}}</td>
                  {% else %}
                    <td colspan="4">{{i.title}}</td>
                  {% endif %}
                  <td>
                    <a href="{{i.link}}">Torrent</a>
                    {% if i.magnet %}
                    <a href="{{i.magnet|safe}}"><img width=10 src="{{MEDIA_URL}}images/mag.png"></a>
                    {% endif %}
                  </td>
                  <td> {{i.published_at|timesince}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
